body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    padding-top: 70px;
}

h1 {
    color: #333;
}
.container h1 {
    font-size: 5rem; 
    margin-bottom: 20px;
}
.card-header {
    font-weight: bold;
}

.comment-box {
    display: none;
}

.comment-box .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.comment-box .card-body {
    padding: 10px;
    font-size: 0.9em;
}

.btn-outline-primary {
    margin-top: 10px;
}
.navbar {
    font-family: "Gabarito", serif;
    background-color: #00204A;
}

.navbar-brand, .navbar-brand:hover{
    font-family: "Lexend", serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}

.nav-link {
    font-size: 20px;
    color: #fff;
}

.nav-link:hover {
    font-size: 20px;
    color: #fff;
}
.btn-primary, .btn-primary:hover{
    font-size: 20px;
    background-color: #fff;
    color: #00204A;   
}
