body {
    background-color: #00204A;
    color: #fff;
    font-family: "Lexend", serif;
}


.navbar {
    background-color: #00204A;
}

.nav-item {
    position: relative;
}

.nav-link {
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.navbar-toggler {
    border: 4px solid white; /* Atur ketebalan dan warna border */
    border-radius: 5px; /* Atur sudut melengkung jika diperlukan */
}



.navbar-brand, .navbar-brand:hover, .navbar-brand:active{
    font-family: "Lexend", serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}



.nav-item {
    position: relative;
}

.nav-link {
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.nav-link:hover, .nav-link:focus {
    font-size: 20px;
    color: #fff;
}

.mega-menu-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    display: none;
    position: absolute;
    width: 1100px;
    top: 100%;
    transform: translateX(-50%);
}

.nav-item:hover .mega-menu-wrapper, .mega-menu-wrapper:hover{
    display: block;
}

.mega-menu-wrapper .item-dropdown {
    color: #00204A;
}

.mega-menu-wrapper .item-dropdown a {
    color: #00204A;
    font-size: 25px;
    text-decoration: none;
}

.mega-menu-wrapper .item-dropdown p {
    font-size: 15px;
    text-align: justify;
}

.item-dropdown a:hover{
    text-decoration: underline;
}

.item-dropdown a:hover + p{
    text-decoration: underline;
}

.btn-primary, .btn-primary:hover{
    font-size: 20px;
    background-color: #fff;
    color: #00204A;   
}

/* judul */
.container {
    
    padding: 20px;
}

.judul {
    text-align: center;
    margin-top: 100px ;
    color: goldenrod;
}

.judul2 {
    font-size: 25px;
    color: #fff;
}

.judul3 {
    font-size: 30px;
    color: goldenrod;
    margin-bottom: 10px;
}

.deskripsi {
    text-align: center;
    font-size: 15px;
}


/* button lihat dokumen */
.btn1 {
    margin-top: 40px;
    background-color: orange;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* isi dokumen */

.dokumkontrak .col-md-4{
    /* padding-left: 5px;
    padding-right: 5px; */
    display: flex;
    align-items: center;
}
.dokumkontrak .card {
    margin-top: 30px;
    border: 0;
    margin-left: 20px;
}
.card {
    background-color: transparent;
}

.card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.card-title {
    color: #fff;
    font-family: "Lexend", serif;
}


.card-text {
    font-weight: 200;
    color: #fff;
    font-family: "Lexend", serif;
    text-align: justify;
}
/*sliding container*/

.scrolling-container {
    overflow: hidden; /* Sembunyikan bagian yang melampaui batas */
    white-space: nowrap; /* Menghindari pembungkus teks */
    width: 100%; /* Lebar penuh */
    background-color: #00204A; /* Warna latar belakang */
    color: white; /* Warna teks */
    position:static;
    top: 80%;

}

.scrolling-content {
    display: inline-block; /* Membuat konten berbaris */
    
    animation: scroll-left 20s linear infinite; /* Animasi bergulir */
}

@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Mulai dari sebelah kanan */
    }
    100% {
        transform: translateX(-100%); /* Bergulir ke sebelah kiri */
    }
}

.scrolling-image {
    height: auto;
    max-width: 100%;
    max-height: 150px;
    margin: 0%;
    display: inline-flex;
    object-fit: cover;

}

/* footer */
footer {
    background-color: #36454F;
    
}

.copyright {
    color: black;
}

.col-md-4 {
    color:black;
    font-weight: 800;
}

.deskrip {
    color: black;
    font-weight: 600;
} 

